/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'Goudy';

  src: url("./assets/fonts/Goudy/goudy-old-style-bt.ttf") format('truetype');
}

@font-face {
  font-family: 'Akzidenz';

  src: url("./assets/fonts/Akzidenz/Akzidenz-grotesk-black.ttf") format('truetype');
}

body {
  font-family: 'Goudy';
  background-color: #EFEFEF;
  height:100vh; 
}

.main {
  
   
    /* margin: 0; */
  }



  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }