/* custom CSS starts */

.flexBox {
  display:flex;
  flex: 1;
}
.left {
    background-color: #ffffff;
    box-shadow: 4px 2px 7px 1px #5a50505e;
    margin: 25px 0px 10px 25px;
    padding: 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.right {
  /* background-color: red; */
  /* margin: 15px; */
  /* height:95vh; */
  margin: 15px 25px 0px 0px;
}
.chartBox {
  background-color: #ffffff;
  box-shadow: 4px 2px 7px 1px #5a50505e;
  padding: 12px;
}

.rowSpacing {
  padding: 10px;
}

.gray {
  font-size: 0.8rem;
  color: #888;
}

.stats {
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider {
  border-right: 0.08rem solid #eaeaea8f;
}

.stats i {
  font-size: 30px;
}

sub {
  bottom: 0;
}
/* custom CSS ends */
