/* custom CSS starts */
.left {
  margin: 25px;
  background-color: #131313;
  box-shadow: 4px 2px 7px 1px #5a5050;
  /* height:95vh; */
}
.right {
  /* background-color: red; */
  margin: 15px;

  /* height:95vh; */
}
.chartBox {
  /* background-color: #000000; */
  background-color: #131313;
  box-shadow: 4px 2px 7px 1px #5a5050;
  padding: 12px;
}

.rowSpacing {
  padding: 12px;
}

.gray {
  font-size: 0.8rem;
  color: #888;
}

.stats {
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider {
  border-right: 0.08rem solid #eaeaea8f;
}

.stats i {
  font-size: 30px;
}

.stats sub {
  bottom: 0;
}
/* custom CSS ends */
