<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-11 left">
    <h4>Top Apps</h4>
    <p class="gray">22 Apps</p>

    <div class="spacer" style="height:auto; width:100%">
      <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options"
        [width]="width" [height]="height" style="height:70vh; width:100%">
      </google-chart>
    </div>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-11 right">
    <!-- line 1 -->
    <div class="row">
      <div class="col-lg-12 rowSpacing">
        <div class="box chartBox">
          <h4>My App Overview</h4>

          <p class="gray">During the last 30 days</p>
          <div class="spacer">
            <div class="box">
              <div class="row ">
                <div class="col-xs-3 stats divider">
                  <i class="material-icons" style="color:#25A7F4">
                    group
                  </i>
                  <p class="gray">Users</p>
                  <h4>1000</h4>
                </div>
                <div class="col-xs-3 stats divider">
                  <i class="material-icons" style="color:#F4C42D">
                    signal_cellular_alt
                  </i>
                  <p class="gray">Traffic</p>
                  <h4>512 <sub> MB/s</sub></h4>
                </div>
                <div class="col-xs-3 stats divider">
                  <i class="material-icons" style="color:#FF7B48">
                    warning
                  </i>
                  <p class="gray">Impact</p>
                  <h4>1643</h4>
                </div>
                <div class="col-xs-3 stats">
                  <i class="material-icons" style="color:#12B662">
                    timeline
                  </i>
                  <p class="gray">Uptime</p>
                  <h4>99.93<sub>%</sub></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- line 2 -->
    <div class="row ">
      <div class="col-lg-6 rowSpacing">
        <div class="box chartBox">
          <h4>Daily Visitor Trend</h4>

          <p class="gray">Avctive Users - last 24 Hours</p>

          <div class="spacer">
            <app-line-chart></app-line-chart>
          </div>
        </div>
      </div>

      <div class="col-lg-6 rowSpacing">
        <div class="box chartBox">
          <h4>Daily Traffic Trend</h4>

          <p class="gray">Network Traffic - last 24 Hours</p>
          <div class="spacer">
            <app-bubble-chart></app-bubble-chart>
          </div>
        </div>
      </div>

    </div>

    <!-- line 3 -->
    <div class="row">
      <div class="col-lg-6 rowSpacing">
        <div class="box chartBox">
          <h4>Operational Impact</h4>

          <p class="gray">Effect of Accidents - Last 90 Days</p>
          <div class="spacer">
            <app-bubble-chart></app-bubble-chart>
          </div>
        </div>
      </div>

      <div class="col-lg-6 rowSpacing">
        <div class="box chartBox">
          <h4>Uptime</h4>

          <p class="gray">Sysytem Reliability - Last 90 Days</p>
          <div class="spacer">
            <app-line-chart></app-line-chart>
          </div>
        </div>

      </div>

    </div>

  </div>
